$primary-color: rgb(44, 44, 44);
$primary800:rgb(42, 41, 41);
$primary500:rgb(184, 184, 184);
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width:100vw;
  height:100vh;
}
.card-container{
  padding:1rem;
  width:100%;
  height:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap:1rem;
  overflow-wrap:anywhere;
}

.top-bar{
  width:100%;
  // background:$primary-color;
  height:5.5rem;
  padding:1rem;
  padding-top:1.5rem;
  display:grid;
  grid-template-columns: 0.5fr 1fr;
  place-items: center;
}
.top-bar{
  div{
    line-height: 1.4rem;
  }
  h3,h4{
    font-weight: 700;
    font-size: 1.2rem;
  }
  h3{
    font-size: 1.8rem;
  }
  h4{
    color:rgb(168, 168, 168);
  }
  
}
.search{
  background:$primary800;
  border-radius: 2rem;
  width:clamp(7rem,80%,30rem);
  display:grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  overflow: hidden;
  height:3rem;
}
.search{
  input{
    width:100%;
    height:100%;
    border:none;
    outline:none;
    padding:1rem;
    background-color: $primary800;
    font-size: 0.9rem;
  }
  i{
    cursor: pointer;
    margin-right:1.5rem;
    color:rgb(139, 138, 138);
  }
  i:hover{
    scale:1.1;
  }
  i:active{
    scale:0.9;
  }
}
.main{
  height:25rem;
  width:100%;
  background:$primary-color;
  padding:1rem;
  border-radius: 1rem;
  display:grid;
  grid-template-columns: 0.5fr 1fr;
  gap:1rem;
  max-width: 80rem;
  margin:auto;
  position: relative;
  overflow: hidden;
}
.main{
  .main-tmp{
    margin:auto;
    width:100%;
    min-width:12rem;
    height:10rem;
    background:rgb(54, 54, 56);
    padding:1rem;
    border-radius: 1rem;
    position:relative;
    // overflow: hidden;
    .icon-wrapper{
      width:10rem;
      height:10rem;
      background: black;
    }
    .Clear{
      color:rgba(255, 255, 121, 0.826);
      text-shadow: 0 0 10px rgb(147, 130, 0),
                  0 0 50px rgb(255, 246, 120),
                  0 0 70px rgb(253, 251, 216),
                  0 0 100px rgb(249, 249, 239);
    }

    
  }
  .weather-icon{
    position:absolute;
    top:1rem;
    right:1rem;
    font-size: 3rem;
    color:lightblue;
    text-shadow: 0 0 10px rgb(29, 90, 122),
              0 0 50px rgb(176, 182, 190),
              0 0 70px rgb(127, 128, 131),
              0 0 150px rgb(97, 99, 102);
  }
}

.space-1{
  display: inline-block;
  width:1rem;
  height:1rem;
  background-color: transparent;
}
.clr-suddle{
  color:$primary500;
  text-transform: capitalize;
}
.main-stats{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(6rem,25%));
  gap:3%;
  place-items: center;
  position: relative;
}
.heighlight{
  font-size: 1.05rem;
  font-weight: 500;
  padding-left:0.5rem;
}
.main-stats{
  section{
    width:85%
  }
  section  p:nth-child(2){
    color:$primary500;
    text-align: start;
    font-size: 0.9rem;
  }
}
.slide{
  margin-top:2rem;
  grid-column: 1 / 3;
  background:transparent;
  height:9rem;
  overflow: hidden;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;

}
.slide-frame{
  width:max-content;
  min-width: 100%;
  height:100%;
  display:grid;
  grid-template-columns: repeat(8,6rem);
  grid-template-rows: 1fr;
  gap:1rem;
}
.hour-card{
  padding:0.5rem;
  width:100%;
  height: 100%;
  background-color: rgb(34, 34, 35);
  color:rgb(255, 255, 255);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  li{
    list-style: none;
  }
}
.gray{
  color:$primary500
}
.time{
  font-size: 0.9rem;
}
.week-forcast-container{
  min-height: max-content;
  // width:30rem;
  background:$primary-color;
  padding:1rem;
  border-radius: 1rem;
  display:grid;
  grid-template-columns:1fr;
  max-width: 80rem;
  margin:auto;
  margin-top:3rem;
}
.z-5{
  position:relative;
  z-index: 5;
}
.card{
  height:3.8rem;
  // width:25rem;
  background: rgb(34, 34, 35);
  margin:1rem;
  padding:0.5rem;
  display:grid;
  grid-template-columns: minmax(2rem,5rem) minmax(7rem,1.1fr)  1fr;
  place-items: center;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  .icon-container i{
    margin:-0.8rem 1.45rem auto auto;
    position:relative;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.319);
    padding:1rem;
    border-radius: 100%;
  }
  .icon-container{
    width:100%;
    height:100%;
    display:grid;
    place-items: end;
    // align-items: center;    
  }
  .icon-container::before{
    content: '';
    width:8rem;
    height:7.5rem;
    background-color: #a9b9c9e3;
    position:absolute;
    border-radius: 100%;    
    margin:auto -1rem auto auto;
    z-index: 0;
    box-shadow: -17px -20px 0px 100px #a9b9c969,
  -21px -116px 0px 250px #a1adb93e ;
  }
}
.Clear .icon-container::before, .Thunderstorm .icon-container::before{
  background-color: rgb(255, 255, 110);
  box-shadow: -17px -20px  20px 100px rgba(255, 255, 110, 0.387),
                -21px -116px 20px 250px rgba(255, 255, 110, 0.193);
}
.Rain .icon-container::before, .Thunderstorm .icon-container::before{
  background-color: #559ee6dc !important;
  box-shadow: -17px -20px 0px 100px #40668bdc,
  -21px -116px 0px 250px #273542dc !important;
}
.Drizzle .icon-container::before{
  background-color: #88b5e2dc !important;
  box-shadow: -17px -20px 0px 100px #88b5e26b,
  -21px -116px 0px 250px #88b5e249 !important;
}
.Snow .icon-container::before{
  background-color: #ffffffdc !important;
  box-shadow: -17px -20px 0px 100px #d7d7d7ae,
  -21px -116px 0px 250px #d7d7d776 !important;
}
.tdown{
  display: inline-block;
  transform: translateY(5px);
  // color:rgb(209, 234, 255);
  padding-right:0.5rem;
}
.tup{
  display: inline-block;
  transform: translateY(-5px);
  // color:rgb(255, 215, 209);
  padding-left:0.5rem;
}
#selected-day{
  border:1px solid rgb(102, 102, 101);
}
.error{
  width:100%;
  padding:1rem;
  text-transform: capitalize;
  background-color: $primary-color;
  height:5rem;
  border-radius: 1rem;
  span{
    color:rgb(237, 91, 91);
  }
}
.float{
  position:absolute;
  top:11.5rem;
  right:0;
  width:100%;
  height:2rem;
  padding-left:2rem;
  border-bottom:1px solid rgb(63, 63, 63);
}

@media (max-width:600px) {
  .main{
    display: block;
    height:max-content;
    .main-stats{
      margin-top:1.4rem;
      gap:1rem;
      section p {
        font-size: 0.9rem ;
      }
    }
    .float{
      top:20rem;
    }
    .slide{
      margin-top:4rem;
      font-size: 0.9rem;
      height:8rem;
    }
  }
  .z-5{
    font-size: 0.73rem;
  }
}